<% provide(:title, '検索結果 | LYbody - インストラクター') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="search col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
      <h2 class="border-heading-bottom mb-5">検索結果</h2>
      <%= render 'shared/instructors-users', users: @users %>
      <%= paginate @users %>
    </div>
  </div>
</div>