<div id="user-chats">
  <% chats.each do |chat| %>
    <% if chat.is_user == true %>
      <div class="my-chats">
        <p><%= safe_join(chat.message.split("\n"),tag(:br)) %></p>
      </div>
    <% else %>
      <div class="instructor-chats d-flex">
        <div class="instructor-icon">
          <%= image_tag room.instructor.instructor_image.url(:thumb) %>
        </div>
        <div class="chat-wrap">
          <div class="chat-content">
            <p><%= safe_join(chat.message.split("\n"),tag(:br)) %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>