<% provide(:title, 'インストラクターログイン | LYbody') %>

<div class="container">
  <%= render 'shared/error_messages', obj: @instructor %>
  <div class="row">
    <div class="login col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 mb-5">
      <h2 class="border-heading-bottom mb-5">インストラクターログイン</h2>
      <%= render 'shared/login-form', model: @instructor, url: instructor_session_path %>
    </div>
  </div>
</div>


