<div class="container">
  <div class="row">
    <div class="about col-8 offset-2 mb-5 pb-5">
      <h2 class="border-heading-bottom">About us</h2>
      <div class="about-top-content p-4 mt-5">
        <p class="mb-0">
          LYbodyは「Love your body」をコンセプトにしたオンラインパーソナルジムです。<br>

          自宅で本格的にbody makeがしたい方、自宅でのトレーニングのモチベーションを上げたい方、
          自宅でヨガやダンスを習ってみたい方などに向けて、様々なジャンルを提供するインストラクターが在籍しています。<br>

          ページ上下にあるインストラクターのリンクをクリックし、<br>
          是非お好きなジャンルのレッスンを持つインストラクターを探してみてください！
        </p>
      </div>
      <div class="about-sub-content mt-5 pt-4">
        <h3 class="border-heading-side mb-4">ご入会について</h3>
        <p>
          まずは、会員登録から行ってください。 <br>
          ※ ページ上部にあるログインのリンクをクリックすると、下側に「新規登録する」ボタンがあるので、そちらをクリックして登録してください。<br>

          会員登録が完了したら、マイページにて「支払いをして入会する」ボタンをクリックし、クレジットカード情報を入力して頂きますと入会手続きが完了致します。<br>
          ※ 決済は、クレジットカードのみとなります。（定期決済）
        </p>
      </div>
    </div>
  </div>
</div>