<% provide(:title, 'チャット | LYbody - インストラクター') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="instructor-chat-page col-10 offset-1">
      <h2 class="border-heading-bottom mb-5">チャット（<%= @room.user.name %>）</h2>
    </div>
  </div>
</div>