<% if obj.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= message %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>