<footer>
  <% if instructor_signed_in? %>
    <div class="footer-logo text-center">
      <p>LYbody</p>
    </div>
  <% else %>
    <div class="col-10 offset-1 d-flex justify-content-between">
      <div class="footer-logo">
        <p>LYbody</p>
      </div>
      <ul class="footer-nav d-flex">
        <li class="mr-5"><%= link_to "インストラクター", root_path %></li>
        <li><%= link_to "お問い合わせ", root_path %></li>
      </ul>
    </div>
  <% end %>
</footer>