$('.js-error-message').empty();
$('#error_explanation').empty();
$('#new_reservation').modal('hide');
$('#flash-messages').html("<div class='alert alert-danger'>日付の値が不正です。</div>");
$('body, html').animate({ scrollTop: 0 }, 500 );