<% provide(:title, '会員一覧 | LYbody - インストラクター') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="users col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
      <h2 class="border-heading-bottom mb-5">会員一覧</h2>
      <div class="text-right">
        <button class="btn dropdown-toggle text-light mb-2" type="button" id="user-select-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          絞り込み
        </button>
        <div class="dropdown-menu" aria-labelledby="user-select-button">
          <a href="/instructors/users" class="dropdown-item">全ての会員</a>
          <a href="/instructors/users/?option=payed" class="dropdown-item">定期決済中の会員</a>
        </div>
      </div>
      <%= render 'shared/instructors-users', users: @users %>
      <%= paginate @users %>
    </div>
  </div>
</div>