$('#review-content-<%= @instructor.id %>').html('<%= j(render 'public/reviews/review-content', instructor: @instructor) %>');
$('#reviews-count').html('レビュー件数：<%= @instructor.reviews.count %>件');
$('#error_explanation').empty();
<% flash.each do |message_type, message| %>
  $('#flash-messages').html("<div class='alert alert-success alert-dismissible fade show' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='閉じる'><span aria-hidden='true'>&times;</span></button><%= message %></div>");
<% end %>
$('#review-textarea').val('');
$('body, html').animate({ scrollTop: 0 }, 500 );