/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #151515;
  color: #e4e4e4;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

li {
  list-style: none;
}

a {
  color: #e4e4e4;

  &:hover {
    color: #e4e4e4;
    text-decoration: none;
  }
}


// header

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all .5s;
  background-color: rgba(21, 21, 21, 0.5);

  li {
    padding-right: 30px;
  }

  a:hover {
    opacity: 0.6;
    transition: opacity .3s ease;
  }

  .navbar-toggler {
    border-color: #e4e4e4;
  }

  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228,228,228,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");
  }
}


// headerの高さを出す
.header-height {
  width: 100%;
  height: 90px;
}


// footer

footer {
  border-top: 1px solid #8b8b8b;

  a:hover {
    opacity: 0.6;
    transition: opacity .3s ease;
  }
}


// text-border

.border-heading-bottom {
  border-bottom: 1px solid #8b8b8b;
  padding-bottom: 10px;
}

.border-heading-side {
  color: #e4e4e4;
  display: flex;
  align-items: center;

  &:before, &:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #8b8b8b;
    display: block;
  }

  &:before {
    margin-right: 1em;
  }

  &:after {
    margin-left: 1em;
  }
}

.border-bottom {
  border-bottom: 1px solid #8b8b8b !important;
}

.border {
  border: 1px solid #8b8b8b !important;
}


// 前に戻るリンク

.backpage-wrap {
  .backpage {
    margin-top: 10px;
    color: #e4e4e4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    display: block;
    margin-bottom: 20px;

    &:hover, &:active {
      opacity: 0.6;
      transition: opacity .3s ease;
    }

    i {
      padding-right: 10px;
    }
  }
}


// 必須アイコン

.essential-icon {
  background-color: rgb(190, 100, 100);
  padding: 4px 5px;
  border-radius: 3px;
  margin-left: 10px;
}


// table

.table {
  color: #e4e4e4;
  table-layout: fixed;
  overflow-wrap: break-word;
  word-wrap: break-word;

  .table-sm-width {
    width: 15%;
  }
}


// エラー時のフォーム

.field_with_errors {
  display: contents;
}


// public/top page

.main-content {
  position: relative;

  .main-content-sub {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


// public/about page

.about {
  font-size: 1.2rem;
  line-height: 40px;

  .about-top-content {
    border: 1px solid #c2a8ff;
  }
}


// public/mypage

.mypage {
  .user-image {
    .image-wrap {
      overflow: hidden;
      position: relative;

      &:hover .icon-mask {
        opacity: 1;
        border-radius: 50%;
        cursor: pointer;
      }

      .caption {
        text-align: center;
        padding-top: 68px;
        color: #fff;
      }

      .icon-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(0,0,0,0.4);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
      }
    }

    img {
      border-radius: 50%;
      padding: 3px;
      border: 1px solid #ccc;
      transition: .3s;
      cursor: pointer;
    }
  }

  .table {
    font-size: 1.1rem;
    .td-left {
      width: 60%;
    }
  }

  .hover-link {
    &:hover {
      opacity: 0.6;
      transition: opacity .3s ease;
    }
  }

  .reservation-important {
    border-bottom: 1px solid #c2a8ff;
  }
}


// public/instructors page

.public-instructors {
  .instructor-name {
    font-size: 1.2rem;
  }

  .instructor-lessons {
    li:nth-child(1) {
      margin-top: 10px;
    }
  }

  a img {
    filter: grayscale(100%);
  }

  a img:hover {
    filter: grayscale(0);
    transition-duration: .3s;
  }
}


// public/instructors show page

.instructor-detail {
  table {
    font-size: 1.2rem;
  }
}


// public/chat page

.user-chat-page {
  #user-chats {
    text-align: right;
    padding: 0 20px;

    .my-chats {
      margin: 15px 0;
      margin-right: -30px;

      p {
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        padding: 10px;
        max-width: 300px;
        border-radius: 12px;
        background-color: #b09dfb;
        color: #000000;
        text-align: left;

        &:after {
          content: "";
          position: absolute;
          top: 3px;
          right: -19px;
          border: 8px solid transparent;
          border-left: 18px solid #b09dfb;
          -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
        }
      }
    }

    .instructor-chats {
      width: 100%;
      overflow: hidden;
      margin-left: -50px;

      .instructor-icon {
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          object-position: 0% 0%;
          border-radius: 50%;
          margin: 10px 0;
        }
      }

      .chat-wrap {
        width: 100%;
        text-align: left;
        margin: 20px 0;

        .chat-content {
          display: inline-block;
          position: relative;
          margin: 0 0 0 40px;
          padding: 10px;
          max-width: 300px;
          border-radius: 12px;
          background-color: #f6f7ff;

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 3px;
            left: -19px;
            border: 8px solid transparent;
            border-right: 18px solid #f6f7ff;
            -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
          }

          p {
            margin: 0;
            padding: 0;
            color: #000000;
          }
        }
      }
    }
  }

  .user-chat-form {
    position: fixed;
    bottom: 81px;
    left: 0;
    width: 100%;
    background-color: rgba(21, 21, 21, 1);
    padding: 20px 0 30px 0;

    .chat-submit {
      position: fixed;
      bottom: 81px;
      margin: 20px 0 30px 0;
    }
  }
}

.footer-height {
  width: 100%;
  height: 170px;
}

#chat-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 900;
  background-color: rgba(21, 21, 21, 1);
}


// public/users/unsubscribe page

.unsubscribe {
  .border {
    border: 1px solid #c2a8ff !important;
  }
}


// public/reservations page

#calendar {
  .fc-widget-content:not(.fc-axis) {
    .fc-day-top.fc-today {
      background-color: #628ab500;
    }

    .fc-today {
      background-color: rgba(111, 109, 224, 0.21);
    }
  }

  td.fc-day-top.fc-sat {
    background-color: #628ab500;
  }

  td.fc-sat {
    background-color:#6398d230;
  }

  td.fc-day-top.fc-sun {
    background-color: #628ab500;
  }

  td.fc-sun {
    background-color: #cc718a3d;
  }

  td.fc-bgevent {
    background-color: #e27a97a1;
  }
}


// instructors/mypage

.instructor-mypage{
  table {
    font-size: 1.1rem;
  }

  .lesson-delete-link {
    font-size: 0.9rem;

    &:hover {
      opacity: 0.6;
      transition: opacity .3s ease;
    }
  }

  .reservation-list {
    table {
      .td-left {
        width: 50%;
      }
    }
  }
}


// instructors/users page

.users {
  .text-sm {
    font-size: 1.3rem;
  }

  table {
    a:hover {
      opacity: 0.6;
      transition: opacity .3s ease;
    }

    td {
      border-top: 1px solid #8b8b8b !important;
    }
  }
}


// instructors/users show page

.user-detail {
  table {
    font-size: 1.2rem;
  }
}


// instructors/chat page

.instructor-chat-page {
  #instructor-chats {
    text-align: right;
    padding: 0 20px;

    .my-chats {
      margin: 15px 0;
      margin-right: -30px;

      p {
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        padding: 10px;
        max-width: 300px;
        border-radius: 12px;
        background-color: #b09dfb;
        color: #000000;
        text-align: left;

        &:after {
          content: "";
          position: absolute;
          top: 3px;
          right: -19px;
          border: 8px solid transparent;
          border-left: 18px solid #b09dfb;
          -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
        }
      }
    }

    .user-chats {
      width: 100%;
      overflow: hidden;
      margin-left: -50px;

      .user-icon {
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          object-position: 0% 0%;
          border-radius: 50%;
          margin: 10px 0;
        }
      }

      .chat-wrap {
        width: 100%;
        text-align: left;
        margin: 20px 0;

        .chat-content {
          display: inline-block;
          position: relative;
          margin: 0 0 0 40px;
          padding: 10px;
          max-width: 300px;
          border-radius: 12px;
          background-color: #f6f7ff;

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 3px;
            left: -19px;
            border: 8px solid transparent;
            border-right: 18px solid #f6f7ff;
            -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
          }

          p {
            margin: 0;
            padding: 0;
            color: #000000;
          }
        }
      }
    }
  }

  .instructor-chat-form {
    position: fixed;
    bottom: 81px;
    left: 0;
    width: 100%;
    background-color: rgba(21, 21, 21, 1);
    padding:20px 0 30px 0;

    .chat-submit {
      position: fixed;
      bottom: 81px;
      margin:20px 0 30px 0;
    }
  }
}

.footer-height {
  width: 100%;
  height: 170px;
}

#chat-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 900;
  background-color: rgba(21, 21, 21, 1);
}


// タプレットサイズ(768px)以下

@media screen and (max-width:768px) {
  html {
    font-size: 2vw;
  }
}


// スマホサイズ(425px)以下

@media screen and (max-width:425px) {
  html {
    font-size: 2.5vw;
  }
}